header.header
    img.header__img(src="/imagenes/logo-platzi-video.png", alt="")
    .header__menu 
        .header__menu--profile
            img(src="/imagenes/user-icon.png", alt="") 
            p Perfil
        ul 
            li: a(href="") Cuenta
            li: a(href="") Cerrar sesión